.centralizar{
    text-align: center;
}

.avaliacaoCliente {
    border: 2px solid black;
    width: 300px;
    background-color: #ccc;
}

.depoimentosCliente {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}